*{
  box-sizing: border-box;
}
body {
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: #621402;
}
.header-avengers{
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
  url('../img/bg.jpg') no-repeat center top / cover;
  padding-bottom: 60px;
}
.container{
  width: 1170px;
  margin: auto;
}
.nav{
  position: relative;
}
.navbar {
  width: 1170px;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.avatar {
  width: 35px;
  margin-left: 10px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: 10px;
}
.menu-link {
  color: white;
  text-decoration: none;
}
.menu-item {
  margin-right: 25px;
}
.user {
  margin-left: auto;
  color: white;
  display: flex;
  align-items: center;
}
.film{
  color: white;
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.film-info-small{
  font-size: 24px;
  line-height: 150%;
  opacity: 50%;
}
.film-title{
  margin-top: 10px;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 25px;
}
.film-description{
  font-size: 16px;
  line-height: 150%;
  max-width: 560px;
}
.film-trailer{
  margin: auto;
}
.time{
  display: flex;
  align-items: center;
  margin-right: 34px;
}
.time-icon{
  margin-right: 15px;
}
.huge-rating{ 
  font-size: 24px;
  line-height: 150%;
  margin-right: 6px;
}
.rating{
  display: flex;
  align-items: baseline;
}
.rating-icon{
  margin-right: 12px;
}
.small-rating{
  font-size: 16px;
  line-height: 150%;
}
.film-details{
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.session{
  margin-top: 60px;
  padding-top: 45px;
  padding-bottom: 65px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.session-label{
  display: block;
  margin-bottom: 20px;
}
.session-date-block{
  display: flex;
}
.session-date-item{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.1s;
}
.session-month{
  font-size: 16px;
  line-height: 19px;
}
.session-day{
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}
.session-week{
  font-size: 19px;
  line-height: 22px;
}
.session-date-item:hover{
  background-color: #FE8E05;
  ;
}
.session-date-item:hover{
  color: #621402;
}
select{
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  padding: 18px;
  margin-top: 15px;
}
option {
  color: #ffffffbb;
  background-color: rgba(120, 54, 38, 0.8);
}
.scheme{
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
  align-items: top;
}
.scheme-svg{
  max-width: 1170px;
}
.scheme path:not(.screen){
  fill: rgba(255, 255, 255, 0.2);
}
.scheme path:not(.screen):hover{
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.5);
}
.scheme path.booked{
  fill:rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}
.scheme path.booked:hover {
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}
.scheme path.active,
.scheme path.active:hover {
  fill: #FE8E05;
}
.price{
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.price-label{
  display: block;
  font-size: 18px;
  line-height: 21px;
}
.price-tag{
  font-size: 52px;
  line-height: 61px;
}
.button-pay{
  color: white;
  display: block;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #FE8E05;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}
.mob-menu{
  display: none;
}
@media (max-width: 1200px){
  .container, .navbar{
    max-width: 960px;
  }
}
@media (max-width: 995px) {

  .container,
  .navbar {
    max-width: 750px;
  }
  .session{
    flex-wrap: wrap;
  }
  .session-date{
    flex-basis: 70%;
  }
  .session-time{
    order: 2;
  }
  .session-cinema{
    order: 3;
    margin-top: 40px;
  }
  .menu-item{
    margin-right: 15px;
  }
}
@media (max-width: 770px){
  .container,
  .navbar{
    max-width: 560px;
  }
  .nav-menu{
    position: absolute;
    left: 0;
    top: 40;
    padding: 20px;
    margin-left: 20px;
    flex-direction: column;
    background-color: #621402;
    z-index: 9;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-25%);
    transition: opacity 0.5s, transform 0.2s;
  }
  .menu-item:not(:last-child){
    margin-bottom: 10px;
  }
  .mob-menu{
    display: block;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer; 
  }
}  
.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.film-description {
    margin-right: 30px;
}
.film{
  flex-direction: column;
}
.film-trailer{
  margin-top: 30px;
}
@media(max-width: 600px){
  .container,
  .navbar{
    max-width: 90%;
  }
  .session-time {
    order: 3;
    margin-top: 40px;
  }
  .session-cinema {
    order: 2;
  }
  .session-date{
    min-width: 100%;
  }
  .button-pay{
    padding: 12px 26px;
  }
}